---
import { getCollection } from 'astro:content';
import Header from '../components/Header';
import Layout from '../layouts/Layout.astro';

const blogEntries = await getCollection('blog');
---

<Layout title="AstroBlog">
  <Header client:only />
  <main>
    <h1>Welcome to <br /><span class="text-gradient">AstroBlog</span>🚀</h1>
    <p>
      Embark on a celestial journey with Astro Blog, where the cosmos comes
      alive through the art of words. Explore the wonders of the universe, from
      the mesmerizing dance of planets to the enigmatic beauty of distant
      galaxies
    </p>

    <ul>
      {
        blogEntries.map((blogPost) => (
          <li class="post">
            <a href={`/posts/${blogPost.slug}`}>
              {blogPost.data.image && (
                <img
                  src={blogPost.data.image}
                  alt={blogPost.data.title}
                  loading="lazy"
                />
              )}
              <div>
                <h2 class="text-gradient">{blogPost.data.title}</h2>
                <time
                  class="text-muted"
                  datetime={blogPost.data.date.toISOString()}
                >
                  {blogPost.data.date.toDateString()}
                </time>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: min(100% - 2rem, 80ch);
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: calc(2rem + 3vw);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin-block: 1rem 0.8em;
    text-wrap: balance;
  }

  p {
    margin-bottom: 2rem;
    background-image: var(--gradient);
    color: rgba(var(--light), 0.9);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 1.5rem;
    border-radius: 0.4rem;
    text-align: justify;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: min(38.4rem, 100%);
    margin-inline: auto;
  }

  .post {
    display: flex;
    border-radius: 0.3rem;
    transition: all 120ms ease-in-out;

    & a {
      flex-basis: 100%;
      text-decoration: none;
      line-height: 1.3;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.8rem;
    }

    & img {
      height: 6.5rem;
      object-fit: cover;
      border-radius: 0.4rem;
    }

    &:hover {
      background-color: rgba(var(--accent), 6%);
      box-shadow: 0 0 3px 1px rgba(var(--accent), 20%);
    }
  }
</style>
